<div class="popup">
	<%= render "popup_header" %>
	<div class="popup_content">
		<%= image_tag("mobile/popup/p2_label.png", class:"popup_show_label") %>
		<div class="popup_image_show">
			<%= image_tag("mobile/popup/p2_image_1.png", class:"popup_image_1") %>
			<%= image_tag("mobile/popup/p2_image_2.png", class:"popup_image_2") %>
			<%= image_tag("mobile/popup/p2_image_3.png", class:"popup_image_3") %>
		</div>
		<div style="padding-top:20px;">
	      <span style="font-size:14px; font-weight:bold;">어라운드(면리플) 세트</span><br>
		  <span style="font-size:14px;">감사, 고마움에 대한 마음으로 부모님, 친인척, 선생님께<br>
		  부담 없는 가격으로 건강까지 생각한  에코 휘바 상품<br>(자일리톨 가공)</span> 
		</div>
		<div id="popup_list_btnBox" style="display:none;">
			<%= link_to "#" do %>
				<span id="popup_list_btn_id_1" class="popup_list_btn">1</span>
			<% end %>
			<%= link_to "#" do %>
				<span id="popup_list_btn_id_2" class="popup_list_btn">2</span>
			<% end %>
			<%= link_to "#" do %>
				<span id="popup_list_btn_id_3" class="popup_list_btn">3</span>
			<% end %>
			<!--
				<%#= link_to "#" do %>
					<span id="popup_list_btn_id_4" class="popup_list_btn">4</span>
				<%# end %>
				<%= link_to "#" do %>
				<span id="popup_list_btn_id_5" class="popup_list_btn">5</span>
				<% end %>
			-->
		</div>
	</div>
</div>