<div id="popup_input">
  <%= link_to "#", class: "close close_button" do%>
		<%= image_tag("pc/popup/close.png") %>
  <% end %>
  <%= form_for([:pc, @comment], remote: true, html: {"data-type" => "json"}) do |f| %>
	  <%= f.text_area(:message, {value: "엄마 감사해요", class: "input_textarea"}) %>
	  <br/>
	  <%= image_submit_tag("pc/popup/btn_submit.png", {id: "data_submit"}) %>
  <% end %>
</div>