<div class="container" >
  <div class="header">
    <%= image_tag("pc/logo.png", class: "header_logo") %>
    <%= image_tag("pc/event_name.png", class: "header_event_name") %>
  </div>
  <div class="contents">
    <div class="title_container">
      <%= image_tag("pc/title.png", class: "title") %>
      <a href="#" id="message_button">
        <%= image_tag("pc/send_message_button.png", class: "img_margin") %>
      </a>
    </div>
    <div class="share">
      <%= image_tag("pc/share_content.png") %>
      <%= link_to "#", class: "share_button" do %>
        <%= image_tag("pc/share.png") %>
      <% end %>
    </div>
    <div class="letter_container">
      <%= image_tag("pc/letter_back.png", class: "letter_back_image") %>
      <%= image_tag("pc/letter_front.png", class: "letter_front_image") %>
      <div class="letter_contents">
        <%= image_tag(DailyCard.today_image.card_image_pc) %>
      </div>
    </div>
    <div class="under_letter">
      <%= image_tag("pc/message_to_user.png", class: "message") %>
      <%= link_to "#", id: "show_present_button" do %>
        <%= image_tag("pc/show_present_button.png") %>
      <% end %>
    </div>
    <div class="comment_list_container">
      <% @comments.each do |comment| %>
        <div class="comment_container">
          <div class="profile_image">
            <%= image_tag comment.user.profile_picture %>
          </div>
          <div class="infomation_comment">
            <div class="author_comment"><%= comment.user.name %></div>
            <div class="date_comment"><%= comment.created_at.strftime("%m.%d %H:%M")%></div>
            <div class="comment"><%= shorten_helper(70,comment.message) %></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paging">
      <%= paginate @comments %>
    </div>
  </div>
  <div class="prizes">
    <%= image_tag("pc/prize_event.png", class: "centering") %>
  </div>
  <div class="footer">
    <%= image_tag("pc/event_information.png", class: "information_event") %>
    <%= link_to "#", id: "button_personal_policy" do %>
      <%= image_tag("pc/button_personal_policy.png") %>
    <% end %>
  </div>


  <!-- Popup -->
  <div id="popup_finish">
    <%= link_to "#", class: "close close_button" do%>
      <%= image_tag("pc/popup/close.png") %>
    <% end %>
    <%= image_tag("pc/popup/thank.png", class: "thanks") %>
    <br/>
    <%= link_to "#", id: "close_finish", class: "close" do %>
      <%= image_tag("pc/popup/finish_button.png") %>
    <% end %>
  </div>
  <%= render "popup_input"%>
  <div id="show_present">
    <%= link_to "#", class: "close close_button" do%>
      <%= image_tag("pc/popup/close.png") %>
    <% end %>
    <%= image_tag("pc/popup/present_title.png", class: "present_title") %>
    <%= image_tag("pc/popup/bedcloths_sample.png", class: "image_bedcloths") %>
    <div class="explain_bedcloths">
      explain about bedcloths
    </div>
    <div class="popup_footer">
      <div class="image_paging_list">
        <%= link_to "#" do %>
          <div class="image_paging icon_active">
          </div>
        <% end %>
        <%= link_to "#" do %>
          <div class="image_paging">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="personal_policy">
    <%= link_to "#", class: "close close_button" do%>
      <%= image_tag("pc/popup/close.png") %>
    <% end %>
    <div class="personal_policy_contents">
    </div>
  </div>
</div>
