<div class="container" >
  <div class="header">
    <%= image_tag("pc/logo.png", class: "header_logo") %>
    <%= image_tag("pc/event_icon.png", class: "header_button") %>
  </div>
  <div class="contents">
    <div class="title">
      <%= image_tag("pc/title.png", class: "img_margin") %>
      <a href="#" id="message_button">
        <%= image_tag("pc/message_button.png", class: "img_margin") %>
      </a>
      <div class="letter_container">
        <%= image_tag("pc/img_letter.png") %>
        <div class="letter_contents">
          
        </div>
      </div>
      <div class="under_letter">
        <%= image_tag("pc/message_to_user.png", class: "message") %>
        <%= image_tag("pc/show_present_button.png", class: "show_present") %>
      </div>
    </div>
    <div class="prizes">
      <%= image_tag("pc/prize_event.png") %>
    </div>
  </div>
  <div class="more_info">
    <%= image_tag("pc/about_event.png") %>
  </div>
</div>