<div class="container" >
  <div class="header">
    <%= image_tag("pc/logo.png", class: "header_logo") %>
    <%= image_tag("pc/event_name.png", class: "header_button") %>
  </div>
  <div class="contents">
    <div class="title">
      <%= image_tag("pc/title.png", class: "img_margin") %>
      <a href="#" id="message_button">
        <%= image_tag("pc/send_message_button.png", class: "img_margin") %>
      </a>
    </div>
    <div class="letter_container">
      <%= image_tag("pc/letter.png") %>
      <div class="letter_contents">
        <%= image_tag(DailyCard.today_image.card_image_pc)%>
      </div>
    </div>
    <div class="under_letter">
      <%= image_tag("pc/message_to_user.png", class: "message") %>
      <%= image_tag("pc/show_present_button.png", class: "show_present") %>
    </div>
    <div class="comment_list_container">
    <% @comments.each do |comment| %>
      <div class="comment_container">
        <div class="profile_image">
          <%= image_tag("") %>
        </div>
        <div class="infomation_comment">
          <div class="author_comment"><%= comment.user.name %></div>
          <div class="date_comment"><%= comment.created_at.strftime("%m.%d %H:%M")%></div>
          <div class="comment"><%= shorten_helper(70,comment.message) %></div>
        </div>
      </div>
      <% end %>
      <div class="pagging">
        <%= paginate @comments %>  
      </div>
    </div>
    <div class="prizes">
      <%= image_tag("pc/prize_event.png") %>
    </div>
    <!-- Popup -->
    <div id="popup_finish">
      <%= link_to "#", class: "close close_button" do%>
        <%= image_tag("pc/popup/close.png") %>
      <% end %>
      <%= image_tag("pc/popup/thank.png", class: "thanks") %>
      <br/>
      <%= link_to "#", class: "close" do %>
        <%= image_tag("pc/popup/finish_button.png") %>
      <% end %>
    </div>
    <div id="popup_input">
      <%= link_to "#", class: "close close_button" do%>
        <%= image_tag("pc/popup/close.png") %>
      <% end %>
      <%= form_for([:pc, @user], remote: true, html: {"data-type" => "json"}) do |f|%>
        <%= text_area_tag(:message, "엄마 감사해요", class: "input_textarea") %>
        <br/>
        <%= image_submit_tag("pc/popup/btn_submit.png", {id: "data_submit"}) %>
      <% end %>
    </div>
  </div>
  <div class="more_info">
    <%= image_tag("pc/info_event.png") %>
  </div>
</div>